.searchbar-wrapper {
	position: relative;
	align-items: center;
	width: 100%;
	height: 48px;
	max-height: 48px;
	display: flex;
}

.searchbar {
	height: 48px;
	max-height: 48px;
	border-radius: 60px;
	padding-left: 24px;
	background-color: var(--color-whiter);
	border: 2px solid var(--color-lightball);
	width: 100%;
}

.searchbar:active {
	border: 2px solid var(--color-lightball);
}

.searchbar:focus {
	outline: 2px solid var(--color-redball);
	border: 2px solid var(--color-white);
}
